:root {
    --background-color: #ffffff;
    --text-color: #000000;
    --icon-color: #000000;
}

@media (prefers-color-scheme: dark) {
    :root {
        --background-color: #000000;
        --text-color: #ffffff;
        --icon-color: #ffffff;
    }
}

html, body {
    height: 100%;
    margin: 0;
    font-family: 'Raleway', sans-serif;
    background-color: var(--background-color);
    color: var(--text-color);
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header, main, footer {
    padding: 10px;
    text-align: center;
}

main {
    flex: 1;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .profile {
    display: flex;
    align-items: center;
}

header .profile-pic {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    margin-right: 10px;
}

header h3 {
    margin: 0;
}

header nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 20px;
}

header nav ul li a {
    text-decoration: none;
    color: var(--text-color);
}

header nav ul li.active a {
    border-bottom: 2px solid var(--text-color);
}
